/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L_BASE 0
#define L_RAISE 1
#define L_LOWER 2
#define L_FUNC 3
#define L_BLUETOOTH 4

/ {
        chosen {
                zmk,physical-layout = &foostan_corne_5col_layout;
        };

        behaviors {

                hml: home_row_mod_left {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        require-prior-idle-ms = <150>;
                        tapping-term-ms = <280>;
                        quick-tap-ms = <175>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <15 16 17 18 19 20 21 22 23 24 25 26 27 28 29>;
                        hold-trigger-on-release;
                };

                hmr: home_row_mod_right {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        require-prior-idle-ms = <150>;
                        tapping-term-ms = <280>;
                        quick-tap-ms = <175>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14>;
                        hold-trigger-on-release;
                };

        };

        combos {
                compatible = "zmk,combos";

                combo_bluetooth {
                        timeout-ms = <50>;
                        key-positions = <24 25>;
                        bindings = <&to L_BLUETOOTH>;
                };

        };


        keymap {
                compatible = "zmk,keymap";

                base {
                        display-name = "Base";
                        bindings = <
                        &kp Q         &kp       W     &kp       E  &kp        R  &kp        T            &kp        Y &kp        U   &kp       I     &kp       O  &kp P
                        &kp A         &hml LGUI S     &hml LALT D  &hml LSHFT F  &hml LCTRL G            &hmr RCTRL H &hmr RSHFT J   &hmr RALT K     &hmr RGUI L  &kp DQT
                        &kp Z         &kp       X     &kp       C  &kp        V  &kp        B            &kp        N &kp        M   &kp  SQT        &kp  DOT     &kp QMARK
                                                      &mo  L_FUNC  &mo  L_LOWER  &kp  SPACE              &kp  RET     &mo  L_RAISE   &kp  BSPC
                        >;
                };


                raise {
                        display-name = "Raise";
                        bindings = <
                        &kp EXCL      &kp AT          &kp HASH     &kp DLLR      &kp PRCNT               &kp C_BRI_DEC &kp C_BRI_INC &kp C_MUTE      &kp C_VOL_DN &kp C_VOL_UP
                        &kp CARET     &kp AMPS        &trans       &trans        &trans                  &kp LEFT      &kp DOWN      &kp UP          &kp RIGHT    &trans
                        &kp CAPS      &trans          &trans       &trans        &trans                  &kp C_PREV    &kp C_PP      &kp C_NEXT      &kp C_STOP   &trans
                                                      &trans       &kp ESC       &trans                  &trans        &trans        &kp PSCRN
                        >;
                };

                lower {
                        display-name = "Lower";
                        bindings = <
                        &kp N1        &kp N2          &kp N3       &kp N4        &kp N5                  &kp N6       &kp N7         &kp N8          &kp N9       &kp N0
                        &kp PLUS      &kp MINUS       &kp LBRC     &kp LBKT      &kp LPAR                &kp RPAR     &kp RBKT       &kp RBRC        &kp LT       &kp GT
                        &kp EQUAL     &kp KP_MULTIPLY &kp UNDER    &kp PIPE      &kp GRAVE               &kp COLON    &kp SEMI       &kp COMMA       &kp BSLH     &kp FSLH
                                                      &trans       &trans        &trans                  &kp TAB      &kp ESC        &kp DEL
                        >;
                };

                functions {
                        display-name = "Func"
                        bindings = <
                        &kp F1        &kp F2          &kp F3       &kp F4        &kp F5                  &trans       &trans         &trans          &trans       &trans
                        &kp F6        &kp F7          &kp F8       &kp F9        &kp F10                 &trans       &trans         &trans          &trans       &trans
                        &kp F11       &kp F12         &trans       &trans        &trans                  &trans       &trans         &trans          &trans       &trans
                                                      &trans       &trans        &trans                  &trans       &trans         &trans
                        >;
                }

                bluetooth {
                        display-name = "B.T."
                        bindings = <
                        &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_SEL 4            &bt BT_CLR   &bt BT_CLR_ALL &trans          &trans       &trans
                        &trans        &trans          &trans       &trans        &trans                  &trans       &trans         &trans          &trans       &trans
                        &trans        &trans          &trans       &trans        &trans                  &trans       &trans         &trans          &trans       &trans
                                                      &trans       &to L_BASE    &trans                  &trans       &to L_BASE     &trans
                        >;
                }

                // additional layers for use through ZMK Studio

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };

        };

};
